requests==2.32.3
pandas
openpyxl==3.1.5
schedule==1.2.1
python-dotenv==1.0.1
beautifulsoup4
aiohttp
tqdm
python-dateutil
pycountry
geotext
tavily-python
groq
pdfminer.six
sentence-transformers
numpy
google-genai
langgraph
llama-index 
llama-index-embeddings-huggingface
fastapi
uvicorn
pymupdf 
reportlab 
python-docx
pdf2docx
bcrypt
redis==5.0.8
